@keyframes rotate3dX {
  from {
    transform: perspective(400px) translateY(100%) rotateX(-180deg);
  }

  to {
    transform: perspective(400px) translateY(0) rotateX(0deg);
  }
}

.rotate3dX {
  transform-style: preserve-3d;
  transform-origin: center top;
  backface-visibility: hidden;
  animation-name: rotate3dX;
  animation-duration: 2s;
}
